* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  background: linear-gradient(315deg, #ffffff 0%, rgba(59, 130, 246, 0.175) 15%, #ffffff 50%, rgba(59, 130, 246, 0.175) 100%);
}

.faq-item.open .faq-content {
  display: block;
}

.opened-faq {
  background: white;
  border-radius: 10px;
}

.faq-item .faq-content {
  display: none;
}

.faq-item.open .faq-content,
.faq-item.open .faq-btn {
  color: #000000 !important;
}

.fade-in-active {
  animation: fade-in-section;
}

.fade-in-faq-anim {
  animation: fade-in-faq-anim; /* Ensure it points to the correct keyframes */
}

.affiliate-section-div-1:hover img,
.affiliate-section-div-2:hover img,
.affiliate-section-div-3:hover img,
.affiliate-section-div-4:hover img {
  transform: translateY(-10px);
}

.affiliate-section-div-1 img,
.affiliate-section-div-2 img,
.affiliate-section-div-3 img,
.affiliate-section-div-4 img {
  transition: 0.5s all ease-in-out;
}

.abstract {
  margin: 0;
  padding: 0;
  background-image: url('assets/abstract.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1536px) {
  #animate-section #left-section .image-stack img {
    width: fit-content;
  }
}

#animate-section #left-section .image-stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

#animate-section #left-section {
  display: flex;
  justify-content: space-between;
}

.floating-icon {
  height: auto;
}

.icon1 {
  bottom: 10%;
  right: 15%;
  animation: float1 8s ease-in-out infinite;
}

.icon2 {
  top: 40%;
  left: 25%;
  animation: float2 12s ease-in-out infinite;
}

.icon3 {
  bottom: 10%;
  left: 10%;
  animation: float3 10s ease-in-out infinite;
}

@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
